In [2]:
#7130ICT - Data Analytics
#Trimester 1 - 2021

#s5172620 - Julio Pimentel Albores
#s - Gabriela Monteiro

#Due: Friday, 28 May 2021

# Assignment 1

## Part 1 â€“Basic analysis [10 points]

### 1) Describe the dataset.

In [3]:
import pandas as pd
import gzip

In [4]:
#Amazon Review Dataset
#Electronics category

#Pandas data frame
#These functions read the data into a pandas data frame (http://jmcauley.ucsd.edu/data/amazon/)
    
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

reviews_df = getDF('reviews_Electronics_5.json.gz')

reviews_df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013"
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010"
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011"

In [5]:
#there are 192,403 unique items
#there are 162,859 unique reviewers
#there are 5,277 unique dates
#we don't find a relationship between the attribute "asin", items and reviewers

reviews_df[["reviewerID","asin","reviewerName","unixReviewTime"]].nunique()

reviewerID        192403
asin               63001
reviewerName      162859
unixReviewTime      5277
dtype: int64

In [7]:
# print(f"The shape of the dataset is {df1.shape[0]} rows and {df1.shape[1]} columns")
# print("The oldest post is from:", df1['reviewTime'].min())
# print("The newest post is from:", df1['reviewTime'].max())
# print(f"There are {df1['reviewerID'].nunique()} unique users ID who left a review.")
# print(f"There are {df1['reviewerName'].nunique()} unique users Names who left a review.")
# print(f"The average rating given by customers is {round(df1['overall'].mean(), 2)}")

In [8]:
#statistical information of float/int columns
#overall values are between 1 and 5 with a mean of 4.22
#unixReviewTime is an int value of date time. It needs to be transformed.

reviews_df.describe()

            overall  unixReviewTime
count  1.689188e+06    1.689188e+06
mean   4.222779e+00    1.340571e+09
std    1.185632e+00    6.342451e+07
min    1.000000e+00    9.292320e+08
25%    4.000000e+00    1.318118e+09
50%    5.000000e+00    1.360800e+09
75%    5.000000e+00    1.385078e+09
max    5.000000e+00    1.406074e+09

In [9]:
#most of the attributes types are object. However, overall and unixReviewTime have a numerical structure. 

reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1689188 entries, 0 to 1689187
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   reviewerID      1689188 non-null  object
 1   asin            1689188 non-null  object
 2   reviewerName    1664458 non-null  object
 3   helpful         1689188 non-null  object
 4   reviewText      1689188 non-null  object
 5   overall         1689188 non-null  float64
 6   summary         1689188 non-null  object
 7   unixReviewTime  1689188 non-null  int64
 8   reviewTime      1689188 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 128.9+ MB

In [10]:
# As seen above, the column reviewerName has some null-values which can be confirmed by: 
reviews_df['reviewerName'].isna().sum()

24730

In [11]:
#new attribute created with datetime format
reviews_df["timeFormat"] = pd.to_datetime(reviews_df["unixReviewTime"], unit='s')

In [12]:
#check the column "timeFormat" makes sense with the column "reviewTime"
reviews_df.head()

#the most relevant attributes are: reviewerID, reviewerName, overall, and timeFormat
#reviewText and summary have interesting information but it is unstructured
#the hypothesis is that we can predict the rating of a product based on item or user approach

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,timeFormat
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013",2013-06-02
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010",2010-11-25
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010",2010-09-09
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010",2010-11-24
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011",2011-09-29

In [13]:
# Now, we will look at the electronics metadata

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

metadata_df = getDF('meta_Electronics.json.gz')

metadata_df.head()

,asin,imUrl,description,categories,title,price,salesRank,related,brand
0,0132793040,http://ecx.images-amazon.com/images/I/31JIPhp%...,The Kelby Training DVD Mastering Blend Modes i...,"[[Electronics, Computers & Accessories, Cables...",Kelby Training DVD: Mastering Blend Modes in A...,NaN,NaN,NaN,NaN
1,0321732944,http://ecx.images-amazon.com/images/I/31uogm6Y...,NaN,"[[Electronics, Computers & Accessories, Cables...",Kelby Training DVD: Adobe Photoshop CS5 Crash ...,NaN,NaN,NaN,NaN
2,0439886341,http://ecx.images-amazon.com/images/I/51k0qa8f...,Digital Organizer and Messenger,"[[Electronics, Computers & Accessories, PDAs, ...",Digital Organizer and Messenger,8.15,{'Electronics': 144944},"{'also_viewed': ['0545016266', 'B009ECM8QY', '...",NaN
3,0511189877,http://ecx.images-amazon.com/images/I/41HaAhbv...,The CLIKR-5 UR5U-8780L remote control is desig...,"[[Electronics, Accessories & Supplies, Audio &...",CLIKR-5 Time Warner Cable Remote Control UR5U-...,23.36,NaN,"{'also_viewed': ['B001KC08A4', 'B00KUL8O0W', '...",NaN
4,0528881469,http://ecx.images-amazon.com/images/I/51FnRkJq...,"Like its award-winning predecessor, the Intell...","[[Electronics, GPS & Navigation, Vehicle GPS, ...",Rand McNally 528881469 7-inch Intelliroute TND...,299.99,NaN,"{'also_viewed': ['B006ZOI9OY', 'B00C7FKT2A', '...",NaN

In [14]:
metadata_df.shape

(498196, 9)

In [15]:
# we will merge both dataframes using the product ID (asin) as a unifier.
# we will save the merged dataframe in a new variable called df
df_electronics = pd.merge(reviews_df, metadata_df, how='inner', on='asin')

In [16]:
df_electronics.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,timeFormat,imUrl,description,categories,title,price,salesRank,related,brand
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013",2013-06-02,http://ecx.images-amazon.com/images/I/51FnRkJq...,"Like its award-winning predecessor, the Intell...","[[Electronics, GPS & Navigation, Vehicle GPS, ...",Rand McNally 528881469 7-inch Intelliroute TND...,299.99,NaN,"{'also_viewed': ['B006ZOI9OY', 'B00C7FKT2A', '...",NaN
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010",2010-11-25,http://ecx.images-amazon.com/images/I/51FnRkJq...,"Like its award-winning predecessor, the Intell...","[[Electronics, GPS & Navigation, Vehicle GPS, ...",Rand McNally 528881469 7-inch Intelliroute TND...,299.99,NaN,"{'also_viewed': ['B006ZOI9OY', 'B00C7FKT2A', '...",NaN
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010",2010-09-09,http://ecx.images-amazon.com/images/I/51FnRkJq...,"Like its award-winning predecessor, the Intell...","[[Electronics, GPS & Navigation, Vehicle GPS, ...",Rand McNally 528881469 7-inch Intelliroute TND...,299.99,NaN,"{'also_viewed': ['B006ZOI9OY', 'B00C7FKT2A', '...",NaN
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010",2010-11-24,http://ecx.images-amazon.com/images/I/51FnRkJq...,"Like its award-winning predecessor, the Intell...","[[Electronics, GPS & Navigation, Vehicle GPS, ...",Rand McNally 528881469 7-inch Intelliroute TND...,299.99,NaN,"{'also_viewed': ['B006ZOI9OY', 'B00C7FKT2A', '...",NaN
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011",2011-09-29,http://ecx.images-amazon.com/images/I/51FnRkJq...,"Like its award-winning predecessor, the Intell...","[[Electronics, GPS & Navigation, Vehicle GPS, ...",Rand McNally 528881469 7-inch Intelliroute TND...,299.99,NaN,"{'also_viewed': ['B006ZOI9OY', 'B00C7FKT2A', '...",NaN

In [17]:

# As expected, the merged dataframe has the same number of rows, but has 18 columns.

df_electronics.shape

(1689188, 18)

In [18]:
df_electronics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1689188 entries, 0 to 1689187
Data columns (total 18 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   reviewerID      1689188 non-null  object
 1   asin            1689188 non-null  object
 2   reviewerName    1664458 non-null  object
 3   helpful         1689188 non-null  object
 4   reviewText      1689188 non-null  object
 5   overall         1689188 non-null  float64
 6   summary         1689188 non-null  object
 7   unixReviewTime  1689188 non-null  int64
 8   reviewTime      1689188 non-null  object
 9   timeFormat      1689188 non-null  datetime64[ns]
 10  imUrl           1687975 non-null  object
 11  description     1655511 non-null  object
 12  categories      1689188 non-null  object
 13  title           1643686 non-null  object
 14  price           1639882 non-null  float64
 15  salesRank       810070 non-null   object
 16  related         1662142 non-null  object
 17  brand           954251 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(14)
memory usage: 244.9+ MB

In [19]:
# source: https://datatofish.com/count-nan-pandas-dataframe/
# There are 45502 product titles that are null-values, as confirmed by:
df_electronics['title'].isna().sum()

45502

In [20]:
# Instead of dropping the observations that are null, we will reasign the dataframe with all rows that do not have
# null values in the column 'title':
# source: https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/#:~:text=To%20drop%20a%20specific%20row,to%20the%20Pandas%20drop%20function.&text=%23%20delete%20a%20few%20specified%20rows,always%20align%20to%20row%20numbers.&text=It%20can%20be%20useful%20for,have%20a%20more%20meaningful%20index.
df_electronics = df_electronics.loc[df_electronics['title'].isna() != True]

In [21]:
# Now, if we check the dataframe again, we will see that, as expected, there are no more null values in the column title.
df_electronics['title'].isna().sum()

0

In [22]:
# Now we want to filter out the observations containing the keywords: 'Tablet' and 'tablet'
df = df_electronics[df_electronics['title'].str.contains("Tablet") | df_electronics['title'].str.contains("tablet")]
df.to_pickle('assignment_tablet_data')

## Start here
Final dataset, which was filtered with the keyword 'Tablet' and 'tablet'.

In [23]:
import pandas as pd
import numpy as np
df = pd.read_pickle('assignment_tablet_data')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70183 entries, 237 to 1689141
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      70183 non-null  object
 1   asin            70183 non-null  object
 2   reviewerName    69670 non-null  object
 3   helpful         70183 non-null  object
 4   reviewText      70183 non-null  object
 5   overall         70183 non-null  float64
 6   summary         70183 non-null  object
 7   unixReviewTime  70183 non-null  int64
 8   reviewTime      70183 non-null  object
 9   timeFormat      70183 non-null  datetime64[ns]
 10  imUrl           70183 non-null  object
 11  description     67388 non-null  object
 12  categories      70183 non-null  object
 13  title           70183 non-null  object
 14  price           69749 non-null  float64
 15  salesRank       27169 non-null  object
 16  related         69890 non-null  object
 17  brand           26160 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(14)
memory usage: 10.2+ MB

In [24]:
df.describe()

            overall  unixReviewTime         price
count  70183.000000    7.018300e+04  69749.000000
mean       4.221179    1.367563e+09     54.756198
std        1.151844    3.152315e+07     95.208622
min        1.000000    1.010966e+09      0.010000
25%        4.000000    1.355184e+09      9.990000
50%        5.000000    1.374710e+09     15.990000
75%        5.000000    1.390176e+09     39.990000
max        5.000000    1.406074e+09    850.000000

In [25]:

# We can see that there are items which have a very low price and probably are accessories. So we have to get hid of
# them for our analysis, which will mainly focus on tablets and not it's accessories. 
# After checking the amazon website, it was noticed that the prices lower than 250 are include lots of accessories. 
# Therefore, this will be out cut line.
# amazon website: https://www.amazon.com.br/s?keywords=Tablets&i=computers&rh=n%3A16364762011%2Cp_36%3A17270935011&dc&_encoding=UTF8&c=ts&qid=1618802074&rnid=17270933011&ts_id=16364762011&ref=sr_nr_p_36_2

# Here we filter only the reviews for products costing more than 250 and reasign our variable df_tablet with these observations.

df = df[df['price']>250]

df.describe()

           overall  unixReviewTime        price
count  4180.000000    4.180000e+03  4180.000000
mean      4.078469    1.348929e+09   361.296366
std       1.246413    4.003176e+07   113.380325
min       1.000000    1.122941e+09   254.990000
25%       4.000000    1.318874e+09   279.990000
50%       5.000000    1.354838e+09   312.360000
75%       5.000000    1.384236e+09   399.980000
max       5.000000    1.406074e+09   850.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4180 entries, 123734 to 1688828
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      4180 non-null   object
 1   asin            4180 non-null   object
 2   reviewerName    4178 non-null   object
 3   helpful         4180 non-null   object
 4   reviewText      4180 non-null   object
 5   overall         4180 non-null   float64
 6   summary         4180 non-null   object
 7   unixReviewTime  4180 non-null   int64
 8   reviewTime      4180 non-null   object
 9   timeFormat      4180 non-null   datetime64[ns]
 10  imUrl           4180 non-null   object
 11  description     4175 non-null   object
 12  categories      4180 non-null   object
 13  title           4180 non-null   object
 14  price           4180 non-null   float64
 15  salesRank       1006 non-null   object
 16  related         4180 non-null   object
 17  brand           2738 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(14)
memory usage: 620.5+ KB

In [27]:
print(f"The shape of the dataset is {df.shape[0]} rows and {df.shape[1]} columns")
print("The oldest post is from:", df['reviewTime'].min())
print("The newest post is from:", df['reviewTime'].max())
print(f"There are {df['reviewerID'].nunique()} unique users ID who left a review.")
print(f"There are {df['reviewerName'].nunique()} unique users Names who left a review.")
print(f"The average rating given by customers is {round(df['overall'].mean(), 2)}")

The shape of the dataset is 4180 rows and 18 columns
The oldest post is from: 01 1, 2008
The newest post is from: 12 9, 2012
There are 3861 unique users ID who left a review.
There are 3644 unique users Names who left a review.
The average rating given by customers is 4.08

In [28]:
# We can see that there are 2738 non null values for brand (out of 4180 observations). 
# In order to solve this problem we will fill in the blank cells from the brand using the 
# first words from the title of the product, which we can see below:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,timeFormat,imUrl,description,categories,title,price,salesRank,related,brand
123734,A1LIHSIZX7XMFI,B00030097G,"1elementin7groups ""Dave""","[1, 1]",I use this with both Corel Painter and Photosh...,5.0,A must for Corel Painter,1258243200,"11 15, 2009",2009-11-15,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",NaN
123735,A1SK74JE9P6T2Z,B00030097G,Amazon Customer,"[15, 16]",Great product for anyone that has to spend lot...,4.0,saved my messed up wrists...,1122940800,"08 2, 2005",2005-08-02,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",NaN
123736,A2P0JWQ7NAH8KQ,B00030097G,"Amazon Customer ""K.T""","[0, 0]",this is the real deal... simply... don't go ch...,5.0,perfection in action,1236038400,"03 3, 2009",2009-03-03,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",NaN
123737,A1JY3R1T6Y209Z,B00030097G,BEST F'ING REVIEWER TO REVIEW,"[1, 1]","Quality product, functions great (more than i ...",5.0,own a Intuos and never look back!,1304035200,"04 29, 2011",2011-04-29,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",NaN
123738,A168KEW1CICAR1,B00030097G,"Bet ""gadget getter""","[1, 1]",Love it! I've gotten so used to using the sty...,5.0,graphic tablet,1185494400,"07 27, 2007",2007-07-27,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",NaN

In [29]:
def generate_brand(product_title):
    """
    Takes the title of the product in the title column and uses the
    first word in order to populate the null cells in the 'brand' column.
    """
    generated_brand = product_title.split()[0]
    return generated_brand


# Now, we can use the pandas apply function to apply to generate values to the newly created  column.    
df['brand'].fillna(value=df['title'].apply(generate_brand), inplace=True)



df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,timeFormat,imUrl,description,categories,title,price,salesRank,related,brand
123734,A1LIHSIZX7XMFI,B00030097G,"1elementin7groups ""Dave""","[1, 1]",I use this with both Corel Painter and Photosh...,5.0,A must for Corel Painter,1258243200,"11 15, 2009",2009-11-15,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",Wacom
123735,A1SK74JE9P6T2Z,B00030097G,Amazon Customer,"[15, 16]",Great product for anyone that has to spend lot...,4.0,saved my messed up wrists...,1122940800,"08 2, 2005",2005-08-02,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",Wacom
123736,A2P0JWQ7NAH8KQ,B00030097G,"Amazon Customer ""K.T""","[0, 0]",this is the real deal... simply... don't go ch...,5.0,perfection in action,1236038400,"03 3, 2009",2009-03-03,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",Wacom
123737,A1JY3R1T6Y209Z,B00030097G,BEST F'ING REVIEWER TO REVIEW,"[1, 1]","Quality product, functions great (more than i ...",5.0,own a Intuos and never look back!,1304035200,"04 29, 2011",2011-04-29,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",Wacom
123738,A168KEW1CICAR1,B00030097G,"Bet ""gadget getter""","[1, 1]",Love it! I've gotten so used to using the sty...,5.0,graphic tablet,1185494400,"07 27, 2007",2007-07-27,http://ecx.images-amazon.com/images/I/41VN48GY...,From the ManufacturerIntuos3 gives you the pow...,"[[Electronics, Computers & Accessories, Cables...",Wacom Intuos3 6 x 8-Inch Pen Tablet,305.95,{},"{'also_bought': ['B00083Y85C', '0955153077', '...",Wacom