In [21]:
#7130ICT - Data Analytics
#Trimester 1 - 2021

#s5172620 - Julio Pimentel Albores
#s - Gabriela Monteiro

#Due: Friday, 28 May 2021

# Assignment 1

## Part 1 â€“Basic analysis [10 points]

### 1) Describe the dataset.

In [22]:
import pandas as pd
import gzip

In [23]:
#Amazon Review Dataset
#Electronics category

#Pandas data frame
#These functions read the data into a pandas data frame (http://jmcauley.ucsd.edu/data/amazon/)
    
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

electronics_df = getDF('reviews_Electronics_5.json.gz')

electronics_df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013"
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010"
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011"

In [29]:
#there are 192,403 unique items
#there are 162,859 unique reviewers
#there are 5,277 unique dates
#we don't find a relationship between the attribute "asin", items and reviewers

electronics_df[["reviewerID","asin","reviewerName","unixReviewTime"]].nunique()

reviewerID        192403
asin               63001
reviewerName      162859
unixReviewTime      5277
dtype: int64

In [26]:
#dataset has 1,689,188 records and 9 attributes

electronics_df.shape

(1689188, 9)

In [27]:
#statistical information of float/int columns
#overall values are between 1 and 5 with a mean of 4.22
#unixReviewTime is an int value of date time. It needs to be transformed.

electronics_df.describe()

            overall  unixReviewTime
count  1.689188e+06    1.689188e+06
mean   4.222779e+00    1.340571e+09
std    1.185632e+00    6.342451e+07
min    1.000000e+00    9.292320e+08
25%    4.000000e+00    1.318118e+09
50%    5.000000e+00    1.360800e+09
75%    5.000000e+00    1.385078e+09
max    5.000000e+00    1.406074e+09

In [28]:
#the dataset doesn't have null values
#most of the attributes types are object. However, overall and unixReviewTime have a numerical structure. 

electronics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1689188 entries, 0 to 1689187
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   reviewerID      1689188 non-null  object
 1   asin            1689188 non-null  object
 2   reviewerName    1664458 non-null  object
 3   helpful         1689188 non-null  object
 4   reviewText      1689188 non-null  object
 5   overall         1689188 non-null  float64
 6   summary         1689188 non-null  object
 7   unixReviewTime  1689188 non-null  int64
 8   reviewTime      1689188 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 128.9+ MB

In [30]:
#new attribute created with datetime format
electronics_df["timeFormat"] = pd.to_datetime(df["unixReviewTime"], unit='s')

In [31]:
#check the column "timeFormat" makes sense with the column "reviewTime"
electronics_df.head()

#the most relevant attributes are: reviewerID, reviewerName, overall, and timeFormat
#reviewText and summary have interesting information but it is unstructured
#the hypothesis is that we can predict the rating of a product based on item or user approach

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,timeFormat
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013",2013-06-02
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010",2010-11-25
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010",2010-09-09
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010",2010-11-24
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011",2011-09-29